.logement{
    display : flex;
    flex-direction: column;
    gap : 1.8vh;
    padding : 0 5.2vw;
    min-height : 80vh;
    @media screen and (max-width: 900px) {
        gap : 2.1vh;
        padding : 0 30px;
    }

    &_bloc{
        display : flex;
        justify-content: space-between;
        gap : 3.9vw;
        border : 1px solid blue;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap : 2.1vh;
        }

        &-title--principal{
            font-size : 36px;
            color : rgba(255, 96, 96, 1);
            font-weight : 500;
            @media screen and (max-width: 900px) {
                font-size : 18px;
            }
        }

        &-title--secondaire{
            font-size : 14px;
        }

        &-host{
            display : flex;
            align-items : center;
            gap : .5vw;
            @media screen and (max-width: 900px) {
                gap : 2.5vw;
            }

            &--img{
                width : 3.3vw;
                height : 3.3vw;
                border-radius : 50%;
                @media screen and (max-width: 900px) {
                    width : 7.5vw;
                    height : 7.5vw;
                }
            }

            &--name{
                width : 5vw;
                text-align : right;
                @media screen and (max-width: 900px) {
                    width : 20vw;
                    border : 1px solid orange;
                }
            }
        }

        &-rating{
            display : flex;
            gap : 1vw;

            svg{
                width : 1.3vw;
                height : auto;
                @media screen and (max-width: 900px) {
                    width : 3.3vw;
                }
            }
        }

        &-tag{
            display : flex;
            gap : .5vw;
            width : 100%; 
            @media screen and (max-width: 900px) {
                gap : 2.3vw;
            }
        }
    } 
}

