.nav{
    display : flex;
    align-items : center;
    justify-content: space-between;
    padding : 0 5.2vw;

    &_logo{
        width : 10.9vw;
        height : auto;
    }

    &_links{
        display : flex;
        gap : 2.9vw;

        &-link{
            font-size : 24px;
            font-weight : 500;

            &.active{
                text-decoration: underline;
            }
        } 
    }
}


